/**
 * -----------------------------------------------------------------------------
 * File: buttons/cv
 * -----------------------------------------------------------------------------
 */

.btn-wrapper {
  margin-bottom: $space-md;
  margin-top: $space-lg;

  @include bp-sm() {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.btn-cv {
  display: block;
  position: relative;
  @include background-default();
  background-image: url($url-icons + 'plus.svg');
  background-size: 15px auto;
  background-position: center center;
  height: 15px;
  width: 15px;

  &.is-active {
    background-image: url($url-icons + 'minus.svg');
  }

  @include bp-sm() {
    margin-top: $space-xl;
  }
}
