/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

// Page colors
$color-black:  #1f2121;
$color-white:  #ffffff;
$color-blue:   #50646D;

// Notifications
$color-danger:  red;
$color-success: green;
$color-info:    blue;

