/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

$space-tiny:  3px;
$space-xxs:   5px;
$space-xs:   10px;
$space-sm:   15px;
$space-md:   20px;
$space-lg:   25px;
$space-xl:   30px;
$space-xxl:  40px;
$space-mega: 50px;
$space-giga: 60px;
