/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */

.logo {
  display: block;
  height: 75px;
  position: absolute;
  right: $space-md;
  text-decoration: none;
  top: $space-md;
  width: 83px;

  @include bp-sm() {
    height: auto;
    position: relative;
    right: auto;
    top: $space-xl;
    width: 120px;
  }

  svg {
    display: block;
    height: auto;
    width: 100%;
  }
}
